{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "MiX.Integrate.Api"
  },
  "host": "integrate.uk.mixtelematics.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/activeevents/group/{groupId}/latest/{quantity}": {
      "post": {
        "tags": [
          "ActiveEvents"
        ],
        "summary": "Gets recent active events for an organisation",
        "operationId": "ActiveEvents_GetLatestForGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The identifier of the organisation",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Number of active events to return - maximum 100",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "eventIds",
            "in": "body",
            "description": "Optional list of EventTypeIds by which to filter results",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActiveEvent"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActiveEvent"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActiveEvent"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/activeevents/assets/from/{from}/to/{to}": {
      "post": {
        "tags": [
          "ActiveEvents"
        ],
        "summary": "Get active events by date range (maximum 30 days) for assets",
        "operationId": "ActiveEvents_GetRangeForAssets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "EventFilter object where EntityIds (required) is the list of asset Ids and EventTypeIDs (optional) is a list of event type ids to filter on",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "from",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          },
          {
            "name": "to",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActiveEvent"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActiveEvent"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActiveEvent"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/activeevents/assets/createdsince/sincetoken/{sinceToken}/quantity/{quantity}": {
      "post": {
        "tags": [
          "ActiveEvents"
        ],
        "summary": "ActiveEvents created since",
        "operationId": "ActiveEvents_GetCreatedSinceForAssetsAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "assetIds",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          },
          {
            "name": "sinceToken",
            "in": "path",
            "description": "SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If a token is not available, use the NEW keyword to default to Current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response.",
            "required": true,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Max 1000",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/activeevents/drivers/createdsince/sincetoken/{sinceToken}/quantity/{quantity}": {
      "post": {
        "tags": [
          "ActiveEvents"
        ],
        "summary": "ActiveEvents created since",
        "operationId": "ActiveEvents_GetCreatedSinceForDriversAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "driverIds",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          },
          {
            "name": "sinceToken",
            "in": "path",
            "description": "SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If a token is not available, use the NEW keyword to default to Current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response.",
            "required": true,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Max 1000",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/activeevents/groups/createdsince/entitytype/{entityType}/sincetoken/{sinceToken}/quantity/{quantity}": {
      "post": {
        "tags": [
          "ActiveEvents"
        ],
        "summary": "ActiveEvents created since",
        "operationId": "ActiveEvents_GetCreatedSinceForGroupsAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupIds",
            "in": "body",
            "description": "Organisation, SubGroup or Site",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "description": "Type of entity, either <b>Asset</b> or <b></b>Driver",
            "required": true,
            "type": "string"
          },
          {
            "name": "sinceToken",
            "in": "path",
            "description": "SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If a token is not available, use the NEW keyword to default to Current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response.",
            "required": true,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Max 1000",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/assets/group/{groupId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List of Assets in Group",
        "operationId": "Assets_GetAllAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filterType",
            "in": "query",
            "description": "registration/description",
            "required": false,
            "type": "string"
          },
          {
            "name": "wildCard",
            "in": "query",
            "description": "Required if filterType set",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Asset"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Asset"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Asset"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/assets/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Asset details",
        "operationId": "Assets_GetAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/assets/group/{groupId}/asset/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Asset details by Group",
        "operationId": "Assets_GetByGroupAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/assets": {
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Update Asset",
        "operationId": "Assets_UpdateAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Add Asset",
        "operationId": "Assets_AddAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/assets/group/{groupId}/state": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Add asset state",
        "operationId": "Assets_AddAssetStateAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetState",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/customgroups/organisation/{organisationId}": {
      "get": {
        "tags": [
          "CustomGroups"
        ],
        "summary": "Gets a list of the custom groups in an organisation",
        "operationId": "CustomGroups_GetAll",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a list of the custom groups in an organisation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "CustomGroups"
        ],
        "summary": "Updates a custom group",
        "operationId": "CustomGroups_UpdateCustomGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "customGroup",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "CustomGroups"
        ],
        "summary": "Adds a custom group",
        "operationId": "CustomGroups_AddCustomGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "customGroup",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/customgroups/organisation/{organisationId}/asset/{assetId}": {
      "get": {
        "tags": [
          "CustomGroups"
        ],
        "summary": "Gets a list of custom groups for an asset",
        "operationId": "CustomGroups_GetListForAsset",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a list of custom groups for an asset",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/customgroups/organisation/{organisationId}/driver/{driverId}": {
      "get": {
        "tags": [
          "CustomGroups"
        ],
        "summary": "Gets a list of custom groups for a driver",
        "operationId": "CustomGroups_GetListForDriver",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a list of custom groups for a driver",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomGroup"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/customgroups/organisation/{organisationId}/customgroup/{customGroupId}": {
      "get": {
        "tags": [
          "CustomGroups"
        ],
        "summary": "Gets the details of a custom group",
        "operationId": "CustomGroups_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "customGroupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomGroupDetails"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/CustomGroupDetails"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "$ref": "#/definitions/CustomGroupDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/customgroups/organisation/{organisationId}/customgroup/{customGroupId}/members/entitytype/{entityType}": {
      "put": {
        "tags": [
          "CustomGroups"
        ],
        "summary": "Adds members to a custom group",
        "operationId": "CustomGroups_AddMembers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "customGroupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "entityType",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityIds",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "CustomGroups"
        ],
        "summary": "Removes members from a custom group",
        "operationId": "CustomGroups_RemoveMembers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "customGroupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "entityType",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityIds",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/devicecommands/group/{groupId}/asset/{assetId}/sendpositionrequestmessage": {
      "get": {
        "tags": [
          "DeviceCommands"
        ],
        "summary": "Send Position Request Message",
        "operationId": "DeviceCommands_SendPositionRequestMessage",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "preferredTransport",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10,
              -1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/devicecommands/group/{groupId}/asset/{assetId}/sendrelaycommand/relayDrive/{relayDrive}/relayState/{relayState}": {
      "get": {
        "tags": [
          "DeviceCommands"
        ],
        "summary": "Send Relay Command",
        "operationId": "DeviceCommands_SendRelayCommand",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "relayDrive",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "relayState",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "preferredTransport",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10,
              -1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/devicecommands/group/{groupId}/asset/{assetId}/sendtrackingrequest/intervalSeconds/{intervalSeconds}/durationSeconds/{durationSeconds}": {
      "get": {
        "tags": [
          "DeviceCommands"
        ],
        "summary": "Send Tracking Request",
        "operationId": "DeviceCommands_SendTrackingRequest",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "intervalSeconds",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "durationSeconds",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "preferredTransport",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10,
              -1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/devicecommands/group/{groupId}/asset/{assetId}/sendstoptrackingrequest": {
      "get": {
        "tags": [
          "DeviceCommands"
        ],
        "summary": "Send Stop Tracking Request",
        "operationId": "DeviceCommands_SendStopTrackingRequest",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "preferredTransport",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10,
              -1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/devicecommands/group/{groupId}/asset/{assetId}/sendprogressiveshutdowncommand/relayDrive/{relayDrive}": {
      "get": {
        "tags": [
          "DeviceCommands"
        ],
        "summary": "Send Progressive Shutdown Command",
        "operationId": "DeviceCommands_SendProgressiveShutdownCommand",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "relayDrive",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "preferredTransport",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10,
              -1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/devicecommands/group/{groupId}/asset/{assetId}/senddisarmunitmessage": {
      "get": {
        "tags": [
          "DeviceCommands"
        ],
        "summary": "Send Disarm Unit Message",
        "operationId": "DeviceCommands_SendDisarmUnitMessage",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "preferredTransport",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10,
              -1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/devicecommands/group/{groupId}/asset/{assetId}/sendfreetextmessage": {
      "post": {
        "tags": [
          "DeviceCommands"
        ],
        "summary": "Send Free Text Message",
        "operationId": "DeviceCommands_SendFreeTextMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "message",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "preferredTransport",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10,
              -1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/devicecommands/group/{groupId}/asset/{assetId}/sendsetacronymcommand/params/{param1}/{param2}/{param3}": {
      "get": {
        "tags": [
          "DeviceCommands"
        ],
        "summary": "Send Command to Acronym",
        "operationId": "DeviceCommands_SendSetAcronymCommand",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "param1",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "param2",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "param3",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "preferredTransport",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10,
              -1
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/deviceconfiguration/group/{groupId}/assets/connectedperipherals": {
      "post": {
        "tags": [
          "DeviceConfiguration"
        ],
        "summary": "Get Connected Peripherals",
        "operationId": "DeviceConfiguration_GetConnectedPeripheralsForAssets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "assetIds",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConnectedPeripheral"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/drivercertification/organisation/{organisationId}/driver/{driverId}/certificationtypeid/{certificationTypeId}": {
      "get": {
        "tags": [
          "DriverCertification"
        ],
        "summary": "Get DriverCertification by Id",
        "operationId": "DriverCertification_GetDriverCertificationIdAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "certificationTypeId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DriverCertification"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/DriverCertification"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "$ref": "#/definitions/DriverCertification"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "DriverCertification"
        ],
        "summary": "Delete Driver Certification",
        "operationId": "DriverCertification_DeleteDriverCertificationAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "certificationTypeId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/drivercertification/organisation/{organisationId}/driver/{driverId}": {
      "get": {
        "tags": [
          "DriverCertification"
        ],
        "summary": "List of Driver Certifications for driver",
        "operationId": "DriverCertification_GetDriverCertificationsForDriverAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DriverCertification"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DriverCertification"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DriverCertification"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/drivercertification/organisation/{organisationId}/driver/{driverId}/certificationcategories": {
      "get": {
        "tags": [
          "DriverCertification"
        ],
        "summary": "List of Certification Types for driver",
        "operationId": "DriverCertification_GetDriverCertificationTypesAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificationType"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificationType"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CertificationType"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/drivercertification/organisation/{organisationId}": {
      "put": {
        "tags": [
          "DriverCertification"
        ],
        "summary": "Update Driver Certification",
        "operationId": "DriverCertification_UpdateDriverCertificationAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverCertification",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DriverCertification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "DriverCertification"
        ],
        "summary": "Add Driver Certification",
        "operationId": "DriverCertification_AddDriverCertificationAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverCertification",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DriverCertification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/driverlicence/organisation/{organisationId}/driver/{driverId}": {
      "get": {
        "tags": [
          "DriverLicence"
        ],
        "summary": "List of Driver Licences for DriverId",
        "operationId": "DriverLicence_GetDriverLicencesByDriverIdAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DriverLicence"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DriverLicence"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DriverLicence"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/driverlicence/organisation/{organisationId}/driver/{driverId}/licencecategory/{licenceCategoryId}": {
      "get": {
        "tags": [
          "DriverLicence"
        ],
        "summary": "Get Driver Licence Id",
        "operationId": "DriverLicence_GetDriverLicenceByIdAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "licenceCategoryId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DriverLicence"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/DriverLicence"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "$ref": "#/definitions/DriverLicence"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "DriverLicence"
        ],
        "summary": "Delete Driver Licence",
        "operationId": "DriverLicence_DeleteDriverLicenceAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "licenceCategoryId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/driverlicence/organisation/{organisationId}/driver/{driverId}/licencecategories": {
      "get": {
        "tags": [
          "DriverLicence"
        ],
        "summary": "List of Licence Categories for DriverId",
        "operationId": "DriverLicence_GetDriverLicenceCategoriesAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LicenceCategory"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LicenceCategory"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LicenceCategory"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/driverlicence/organisation/{organisationId}": {
      "put": {
        "tags": [
          "DriverLicence"
        ],
        "summary": "Update Driver Licence",
        "operationId": "DriverLicence_UpdateDriverLicenceAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverLicence",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DriverLicence"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "DriverLicence"
        ],
        "summary": "Add Driver Licence",
        "operationId": "DriverLicence_AddDriverLicenceAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverLicence",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DriverLicence"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/drivers/group/{groupId}/driver/{driverId}": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Driver details by Group",
        "operationId": "Drivers_GetDriverByIdAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Driver"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Driver"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/drivers/organisation/{organisationId}": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get all Drivers for Organisation",
        "operationId": "Drivers_GetAllDrivers",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "Organisation GroupId required",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filterType",
            "in": "query",
            "description": "name/fmdriverid/employeenumber",
            "required": false,
            "type": "string"
          },
          {
            "name": "wildCard",
            "in": "query",
            "description": "If filterType = fmdriverid the wildCard must be a short (FmDriverId)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Driver"
              }
            }
          }
        }
      }
    },
    "/api/drivers": {
      "put": {
        "tags": [
          "Drivers"
        ],
        "summary": "Update Driver",
        "operationId": "Drivers_UpdateDriverAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "driver",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Driver"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Drivers"
        ],
        "summary": "Add a Driver",
        "operationId": "Drivers_AddDriverAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "driver",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Driver"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/assets/latest/{quantity}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get the latest X events for asset list",
        "operationId": "Events_GetLatestForAssetsAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "Eventfilter type object to query by AssetIds and an optional eventIds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Number of Events requested to be returned for each entity",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cachedSince",
            "in": "query",
            "description": "Use format yyyyMMddhhmmss",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/drivers/latest/{quantity}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get the latest X events for driver list",
        "operationId": "Events_GetLatestForDriversAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "Eventfilter type object to query by DriverIds and an optional eventIds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Number of Events requested to be returned for each entity",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cachedSince",
            "in": "query",
            "description": "Use format yyyyMMddhhmmss",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/groups/latest/entitytype/{entityType}/{quantity}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get the latest X for group list",
        "operationId": "Events_GetLatestForGroupsAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "Eventfilter type object to query by GroupIds and an optional eventIds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "description": "Asset/Driver",
            "required": true,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Number of Events requested to be returned for each entity",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cachedSince",
            "in": "query",
            "description": "Use format yyyyMMddhhmmss",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/assets/from/{from}/to/{to}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get events by range for asset list",
        "operationId": "Events_GetRangeForAssetsAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "Eventfilter type object to query by AssetIds and an optional eventIds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "from",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          },
          {
            "name": "to",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/drivers/from/{from}/to/{to}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get events by range for driver list",
        "operationId": "Events_GetRangeForDriversAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "Eventfilter type object to query by DriverIds and an optional eventIds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "from",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          },
          {
            "name": "to",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/groups/entitytype/{entityType}/from/{from}/to/{to}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get events by range for group list",
        "operationId": "Events_GetRangeForGroupsAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "Eventfilter type object to query by GroupIds and an optional eventIds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "description": "Asset/Driver",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          },
          {
            "name": "to",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/assets/since/{since}/quantity/{quantity}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get events since date for asset list",
        "operationId": "Events_GetSinceForAssetsAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "Eventfilter type object to query by AssetIds and an optional eventIds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "since",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Number of Events requested to be returned for each entity",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/drivers/since/{since}/quantity/{quantity}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get events since date for driver list",
        "operationId": "Events_GetSinceForDriversAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
            "description": "Eventfilter type object to query by DriverIds and an optional eventIds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          },
          {
            "name": "since",
            "in": "path",
            "description": "Use format yyyyMMddhhmmss",
            "required": true,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Number of Events requested to be returned for each entity",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/events/groups/since/entitytype/{entityType}/{since}": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Get events since date for group list",
        "operationId": "Events_GetSinceForGroupsAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventFilter",
            "in": "body",
[...]
